<form>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>valueChanges</mat-label>
        <input matInput
                [formControl]="control"
        >
    </mat-form-field>
</form>

<!--<form class="example-form">-->
<!--    <mat-form-field class="example-full-width" appearance="fill">-->
<!--        <mat-label>Message</mat-label>-->
<!--        <input matInput #message maxlength="256" placeholder="Ex. I need help with...">-->
<!--        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>-->
<!--        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>-->
<!--    </mat-form-field>-->
<!--</form>-->

<!--<mat-form-field class="example-form-field" appearance="fill">-->
<!--    <mat-label>Clearable input</mat-label>-->
<!--    <input matInput type="text" [(ngModel)]="value">-->
<!--    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
<!--        <mat-icon>close</mat-icon>-->
<!--    </button>-->
<!--</mat-form-field>-->
